<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Posts</a>
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/posts/me">My Posts</a></li>
      <li><a href="/posts/new">New Post</a></li>
      <li>
        <% if(isUserLoggedIn) { %>
          <form class="logout-form" action="/auth/logout" method="post">
            <button class="auth-button bg-red" type="submit">Logout</button>
          </form>
          <% } else { %>
            <a href="/auth/login" class="auth-button">Login</a>
            <% } %>
      </li>
    </ul>
  </div>
</div>