<div>
  <h2>Forgot Password</h2>

  <form class="form" action="/auth/forgot-password" method="POST">
    <input class="inputfield" type="email" name="email" placeholder="Email" required />
    <span class="form--error">
      <%= errorMsg %>
    </span>
    <button class="auth-button" type="submit">Submit</button>
  </form>
</div>