<div>
  <h2>Reset Password</h2>

  <form class="form" action="/auth/forgot-password/reset-password" method="POST" onsubmit="return validateForm()">
    <input type="hidden" name="token" value="<%= token %>" />
    <input class="inputfield" type="password" name="password" id="password" placeholder="Password"
      pattern="^[A-Za-z0-9_%+-]{2,}$" required />
    <input class="inputfield" type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confirm Password"
      pattern="^[A-Za-z0-9_%+-]{2,}$" required />
    <span class="form--error" id="passwordError">
      <%= errorMsg %>
    </span>
    <button class="auth-button" type="submit">Submit</button>
  </form>

  <script>
    function validateForm() {
      var password = document.getElementById("password").value;
      var passwordConfirm = document.getElementById("passwordConfirm").value;
      var passwordError = document.getElementById("passwordError");

      if (password !== passwordConfirm) {
        passwordError.textContent = "Passwords do not match.";
        return false;
      } else {
        passwordError.textContent = "";
        return true;
      }
    }
  </script>

</div>