<h2 style="color: gray; margin: 0; font-weight: 400;">
  EJS Posts
</h2>
<h1 style="color: #3173ED; margin: 0; margin-bottom: 1rem;">
  Password Change Request
</h1>

<p style="font-size: 16px; line-height: 1.5; margin: 0 0 16px;">
  We've received a password change request for your EJS Post account.
</p>
<p style="font-size: 16px; line-height: 1.5; margin: 0 0 16px;">
  This link will expire in 10 minutes. If you didn't request a password change, you can ignore this email.
</p>
<p style="font-size: 16px; line-height: 1.5; margin: 0 0 16px;">
  To reset your password, click the link below: <br>
  <a href="<%= link %>">
    <%= link %>
  </a>
</p>