<h2 style="color: gray; margin: 0; font-weight: 400;">
  EJS Posts
</h2>

<h1 style="color: #3173ED; margin: 0; margin-bottom: 1rem;">
  Welcome
</h1>

<p style="font-size: 16px; line-height: 1.5; margin: 0 0 16px;">Hi <%= receiver %>,</p>

<p style="font-size: 16px; line-height: 1.5; margin: 0 0 16px;">
  Thank you for signing up to <b>EJS Posts</b>. If you did not sign up, please ignore this email.
</p>

<p style="font-size: 16px; line-height: 1.5;">Regards,<br />EJS Posts Team</>